{% extends 'base.html' %}

{% block title %}
<title>Elite: The Dangerous - Add Ship</title>
{% endblock %}

{% block content %}
<div class='form'>
    <form method='POST' action=''>
        <!--The hidden tag here is necessary for CSRF protection (always include in forms)-->
        {{ form.hidden_tag() }}
        <!--We display the username field label and the field itself-->
        {{ form.make.label }}
        {{ form.make }}
        <!--Here, we want our page to catch and display any errors raised. The if statement checks if a ValidationError object exists and if so, present the message-->
        {% if form.make.errors %}
        <div class='error'>
            {% for error in form.name.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% endif %}
        <br>
        {{ form.model.label }}
        {{ form.model }}
        <br>
        {% if form.model.errors %}
        <div class='error'>
            {% for error in form.model.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% endif %}
        <br>
        {{ form.submit }}
    </form>
</div>
{% endblock %}